{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Bug-Trackerr Category List'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Category List'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Category_ID'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'category.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Added'|trans, 'category.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Updated'|trans, 'category.updatedAt') }}</th>
                {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
                    <th>{{ 'Buttons'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>{{ category.createdAt|format_date('long') }}</td>
                    <td>{{ category.updatedAt|format_date('long') }}</td>
                    {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
                        <td class="row">
                        <div class="col">
                            <a class="btn btn-success" href="{{ url('category_show', {id: category.id}) }}" title="{{ 'Details'|trans }}">
                                {{ 'Details'|trans }}
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary" href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'Edit'|trans }}">
                                {{ 'Edit'|trans }}
                            </a>
                        </div>

                        <div class="col">
                            <a class="btn btn-danger" href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'Delete'|trans }}">
                                {{ 'Delete'|trans }}
                            </a>
                        </div>

                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center row">
            <div class="col-4">
            {{ knp_pagination_render(pagination) }}
            </div>
            <div class="col-2">
                <a class="btn btn-primary ml-5" href="{{ url('task_index')}}" title="{{ 'Bugs List'|trans }}">
                    {{ 'Bug List'|trans }}
                </a>
            </div>
            {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
                <div class="col-2">
                    <a class="btn btn-primary" href="{{ url('category_create')}}" title="{{ 'New Category'|trans }}">
                        {{ 'New Category'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}