{% extends 'base.html.twig' %}

{% block category %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id_category'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.createdAt'|trans }}</dt>
            <dd>{{ category.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updatedAt'|trans }}</dt>
            <dd>{{ category.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ category.title }}</dd>

        </dl>
        <button class="btn btn-light">
            <a href="{{ url('category_index') }}" category="{{ 'action.return'|trans }}">
                {{ 'action.return'|trans }}
            </a>
        </button>
    {% else %}
        <p>
            {{ 'label.category_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}