{% extends 'base.html.twig' %}

{% block category %}
    {{ 'category.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'category.category_details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ category.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ category.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
        </dl>
        <button class="btn btn-light">
            <a href="{{ url('category_index') }}" category="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </button>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}