{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label.title_main'|trans }}
{% endblock %}

{% block body %}
    <h1 class="fw-semibold fs-2">{{ 'title.bug_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'task.id') }}</th>
                <th>{{ 'label.reportedBy'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.createdAt'|trans, 'task.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updatedAt'|trans, 'task.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'task.title') }}</th>
                <th>{{ 'label.currentStatus'|trans }}</th>
                <th>{{ 'label.category'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>

            </tr>
            </thead>
            <tbody>
            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.author.email }}</td>
                    <td>{{ task.createdAt|format_date('long') }}</td>
                    <td>{{ task.updatedAt|format_date('long') }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.status.status }}</td>
                    <td>
                        <a href="{{ url('task_index', {'filters.category_id' : task.category.id}) }}" title="{{ task.category.title }}">
                            {{ task.category.title }}
                        </a>
                    </td>
                    <td class=row">
                            <a class="col btn btn-outline-primary" href="{{ url('task_show', {id: task.id}) }}" title="{{ 'action.details'|trans }}">
                                {{ 'action.details'|trans }}
                            </a>
                        {% if is_granted('EDIT', task) %}
                            <a class="col btn btn-outline-success" href="{{ url('task_edit', {id: task.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('DELETE', task) %}
                            <a class="col btn btn-outline-danger" href="{{ url('task_delete', {id: task.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center row justify-content-start">
            <div class="col-4">
            {{ knp_pagination_render(pagination) }}
            </div>
                <div class="col-2">
                    <a class="btn btn-primary" href="{{ url('category_index')}}" title="{{ 'action.title.category_list'|trans }}">
                        {{ 'action.title.category_list'|trans }}
                    </a>
                </div>
            {% if app.user is not null and 'ROLE_ADMIN' in app.user.roles %}
                <div class="col-2">
                    <a class="btn  btn-success" href="{{ url('task_create')}}" title="{{ 'action.report_new_bug'|trans }}">
                        {{ 'action.report_new_bug'|trans }}
                    </a>
                </div>
            {% endif %}
            <div class="col-2">
            {% if app.request.uri %}
                <a class="btn btn-outline-primary" href="{{ url('task_index') }}" title="{{ 'action.reset_filters'|trans }}">
                    {{ 'action.reset_filters'|trans }}
                </a>
            {% endif %}
            </div>
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}