{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Bug Details'|trans({'%id%': task.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'Bug Details'|trans({'%id%': task.id|default('')}) }}</h1>
    {% if task is defined and task|length %}
        <dl class="dl-horizontal ">
            <dt>{{ 'Bug_ID'|trans }}</dt>
            <dd>{{ task.id }}</dd>
            <dt>{{ 'Added'|trans }}</dt>
            <dd>{{ task.createdAt|format_date('long') }}</dd>
            <dt>{{ 'Updated'|trans }}</dt>
            <dd>{{ task.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'Added by'|trans }}</dt>
            <dd>{{ task.author.email }}</dd>
            <dt>{{ 'Title'|trans }}</dt>
            <dd>{{  task.title }}</dd>
            <dt>{{ 'Category'|trans }}</dt>
            <dd>{{  task.category.title }}</dd>
        </dl>
        <p>
            <a class="btn btn-primary" href="{{ url('task_index') }}" title="{{ 'Return'|trans }}">
                {{ 'Return'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}